<% provide(:titile, 'Questions') %>
<h1>All Questions</h1>

<%= search_form_for @q do |f| %>
	<%= f.label :content_cont %>
  	<%= f.search_field :content_cont %>
	<%= f.submit %>
<% end %>

<ul class="users">
	<table>
		<thead>
			<tr>
				<th>Content</th>
      		<th>User</th>      		
				<th colspan="7"></th>
				<th>Time</th>
    		</tr>
  		</thead>
		<tbody>
   		<%=  render @questions %>
		</tbody>
	</table>
	<aside align="left">
		<%= will_paginate @questions %>
	<aside>
</ul>



