<p id="notice"><%= notice %></p>

<h1>
  <strong>Content:</strong>
  <%= @question.content %>
</h1>
<br>
 <strong>Posted by:</strong>
  <%= @question.user.name %>

<div align="left">
<h2>Answers</h2>
<% if @question.articles.any? %>
	<% @question.articles.each do |article| %>
		<%= render article %>
		<%= link_to like_article_path(article), class: "like-btn", method: :put, remote: :true, 
		 data: {id: article.id} do %>
		like
		<% end %>
		<span class="likes-count" id="article-<%= article.id %>">
		<%= article.get_upvotes.size %> </span>
		<% if article.comments.any? %>
			<%= render article.comments %>
		<% end %>
	<% end %>	
<% end %>
</div>

<div align="left">

<br> <br>
	<%= render 'articles/form' %>
</div>

