<%= form_with(model: [ @question, @question.articles.build ], local: true) do |form| %>

  <% if !@question.nil? && @question.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@question.errors.count, "error") %> prohibited this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :'My Answer' %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.submit %>
  </p>

   <div class="picture">
    <%= form.label :picture %><br>
    <%= form.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </div>

<% end %>

