<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
		<li>
      <%= f.label :name %>
      <%= f.text_field :name %>
		</li>
		<br>
      <li>
      <%= f.label :password %>
      <%= f.password_field :password %>
		</li>
		<br>
		<li>
      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>
		</li>
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
      <% end %>
    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">change</a>
  </div>
</div>
