<% provide(:titile, 'All users') %>
<h1>All People in Community</h1>

<%= search_form_for @q do |f| %>
	<%= f.label :name_cont %>
  	<%= f.search_field :name_cont %>
	<%= f.submit %>
<% end %>

<%= sort_link(@q, :name) %>

<ul class="users">
    <%=  render @users %>
</ul>

<%= will_paginate %>

